[submodule "code"]
	path = code
	url = https://github.com/caner-cetin/code-cansu-dev.git
[submodule "resume"]
	path = resume
	url = https://github.com/caner-cetin/resume-cansu-dev.git
[submodule "dj"]
	path = dj
	url = https://github.com/caner-cetin/dj-cansu-dev.git
[submodule "deployments/plane"]
	path = deployments/plane
	url = https://github.com/jamsocket/plane.git
